body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: rgb(10, 73, 99);
}

nav {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(10, 73, 99);

}

nav ul {
    list-style-type: none; /* Enlève les puces */
    margin: 0 auto;
    padding: 5px;
    max-width: 300px;
    display: flex;
    justify-content: space-around; /* Espace égal entre les éléments */
    align-items: center;
    color: white;
    font-weight: bold;
}

nav li {
    padding: 18px 0px;
}

#Home {
    text-align: center; /* Centre l'image et le texte horizontalement */
}

#Home img {
    display: block;     /* Transforme l'image en bloc */
    margin: 0 auto;     /* Centre l'image horizontalement */
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre le conteneur tout en gardant les proportions */
    filter: blur(4px);
}

#Home h1 {
    position: absolute;
    top: 40%;   /* Ajoute un espace entre l'image et le texte */
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 300%;
    color: white;
    z-index: 2;
}

.content-section {
    position: relative;
    padding: 10px;
    height: 500px;
} 
#section2 {
    background-color: rgb(67, 0, 108);
}

#section3 {
    background-color: rgb(108, 0, 32);
}

#section4 {
    background-color: rgb(1, 66, 53);
}

/* Couleurs de texte spécifiques aux sections */
#section2 .texte {
    color: rgb(67, 0, 108);
}

#section3 .texte {
    color: rgb(108, 0, 32);
}

#section4 .texte {
    color: rgb(1, 66, 53);
}

.texte {
    position: absolute;
    top: 100px;
    left: 1000px;
    padding: 10px 100px;
    width: 30%;
    background-color: white;
}
