header {
    position: relative;
    background-color: rgb(10, 73, 99);
}

nav {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(10, 73, 99);

}

nav ul {
    list-style-type: none; /* Enlève les puces */
    margin: 0 auto;
    padding: 5px;
    max-width: 300px;
    display: flex;
    justify-content: space-around; /* Espace égal entre les éléments */
    align-items: center;
    color: white;
    font-weight: bold;
}

nav li {
    padding: 18px 0px;
}

#Home {
    text-align: center; /* Centre l'image et le texte horizontalement */
    border: 5px solid rgb(15, 158, 214);
}

#Home img {
    display: block;     /* Transforme l'image en bloc */
    margin: 0 auto;     /* Centre l'image horizontalement */
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre le conteneur tout en gardant les proportions */
    filter: blur(0.9px);
}

#Home h1 {
    position: absolute;
    top: 40%;   /* Ajoute un espace entre l'image et le texte */
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 300%;
    color: white;
    z-index: 2;
}

main {
    position: relative;
}
main #section1{
    position: absolute;
    width: 100%;
    background-color: rgb(218, 200, 200);
}

main #section2 {
    position: absolute;
    width: 100%;
    top: 303px;
    background-color: rgb(216, 216, 187);
}

main #section3 {
    position: absolute;
    width: 100%;
    top: 606px;
    background-color: rgb(188, 216, 187);
}

main #section4 {
    position: absolute;
    width: 100%;
    top: 909px;
    background-color: rgb(187, 194, 216);
}
